.bg{
	background-image: url(clown.jpg);
}
.header-h{
	height: 
}
.header-d{
	height:  
	
}
.box{
	height: 1000px;
	margin-top: 
}
.box1{
	height: 1000px;
	
}
.box2{
	height: 1000px;
	
}
.box-d{
	height: 480px;
	border: 1px solid

}
.h-400{
	height: 400px
}
.h-200{
	height: 200px
}
.header-w{
	height: 50px;
	
}
.box-w{
	height: 75px;
	
}
.img-h{
	height: 30px
}
.search{
	height: 25px;
	border-radius: 5px;
	border: 1px solid 
}
.avatar{
	height: 50px;
	margin-left: 20px
}
.avatar3{
	height: 60px;
}
.h1{
	font-size: 15px
}
.avatar2{
	width: 65px;
	border-radius: 30px;
	margin-left: 15px;
	margin-top: 5px
}
.img{
	width: 600px;
	margin-left: 100px
}
.a{
	border: 1px solid
}